html, body {
	background-color : white;
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	overflow-y: hidden;
	background: url("../imgs/img_bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}
h1 {
	color : #000000;
	font-family: "SIMPSON";
}
.container {
	width: 200px;
	margin: 300px auto;
	padding: 50px;
	border: 1px solid grey;
	border-radius: 10px;
	line-height: 35px;
	box-shadow: 0px 0px 5px;
	background: white;
}

.container form{
	font-size: 18px;
}

.container form input{
	display: block;
}